@inject Microsoft.AspNetCore.Identity.SignInManager<AppointmentScheduler.Models.ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
    <form id="logoutForm" asp-action="LogOff" asp-controller="Account">
        <ul class="nav navbar-nav">
            <li>Hello, @User.Identity.Name!</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
}
else {
<ul class="nav navbar-nav">

    <li>
    @*@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@
        <a class="nav-link text-white" id="registerLink"  asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li>
        @*@Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
        <a class="nav-link text-white" id="loginLink" asp-controller="Account" asp-action="Login">Login</a>
    </li>
</ul>
    
}
